@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  outline: 1px solid red;
} */

body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: "Manrope";
  color: #065f46;
  background-color: #d1fae5;
  font-weight: 600;
}

input {
  border-radius: 5px;
  border-color: #059669;
  border-radius: 8px;
  padding: 8px 20px;
  border-style: solid;
  color: #065f46;
  font-size: 15px;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: #059669;
  outline: 0 none;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  font-weight: 800;
  margin: 0;
  margin-bottom: 15px;
}

.btn-add {
  margin-left: 10px;
  padding: 8px 15px;
  margin-right: 5px;
}

button {
  background-color: #10b981;
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  color: #d1fae5;
  border-color: #059669;
  font-size: 13px;
  font-family: "Manrope";
  font-weight: 600;
  padding: 2px 6px;
}

button:hover {
  background-color: #059669;
}

.required {
  margin-bottom: 10px;
  color: #e11d48;
}

.mb-list {
  margin-bottom: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.width {
  max-width: 1000px;
}

.ml-btn {
  margin-left: 10px;
  margin-right: 5px;
}

.mr-checkbox {
  margin-right: 10px;
}

.bg-box {
  border: 3px solid #6ee7b7;
  border-radius: 20px;
  padding: 40px 40px;
  background-color: #a7f3d0;
}

ul {
  list-style: none;
  padding: 0;
}
